# created by virtualenv automatically
config.py
 __pycache__/
/venv/
gallery/my_notes.txt
sqlite_create_tables.sql
server.db
*.db
*.sql
/attachments/my_notes.txt
/db_archive.py
/example_models.py
/parsing_questions_files/
/archive/
